<div id="sidebar" class="sidebar  responsive">
    <!-- /.sidebar-shortcuts -->
    <ul class="nav nav-list">
        <!-- 如果用户是admin,则将管理员管理显示 -->
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-github-alt"></i>
                    <span class="menu-text">
                                   管理员管理
                                </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li id="left-rolelist" class="">
                        <a href="javascript:openFrame('','left-rolelist')" >
                            <i class="icon-double-angle-right"></i> 角色管理
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li id="left-adminlist" class="">
                        <a href="javascript:openFrame('','left-adminlist')" >
                            <i class="icon-double-angle-right"></i> 管理员管理
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li id="left-buyerRolelist" class="">
                        <a href="javascript:openFrame('','left-buyerRolelist')" >
                            <i class="icon-double-angle-right"></i> 买家子账号角色管理
                        </a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text"> 项目管理 </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li id="left-projectlist" class="">
                        <a href="javascript:openFrame('','left-projectlist')" >
                            <i class="icon-double-angle-right"></i> 项目列表
                        </a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-archive"></i>
                    <span class="menu-text"> 商品管理  </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li id="left-cateList" class="">
                        <a href="javascript:openFrame('','left-cateList')" >
                            <i class="icon-double-angle-right"></i> 商品分类管理
                        </a <b class="arrow"></b>
                    </li>
                    <li id="left-brandList" class="">
                        <a href="javascript:openFrame('','left-brandList')" >
                            <i class="icon-double-angle-right"></i> 品牌管理
                        </a <b class="arrow"></b>
                    </li>
                    <li id="left-SingleGoods" class="">
                        <a href="javascript:openFrame('','left-SingleGoods')" >
                            <i class="icon-double-angle-right"></i> 标准商品列表
                        </a <b class="arrow"></b>
                    </li>
                    <li id="left-goodsGroudList" class="">
                        <a href="javascript:openFrame('','left-goodsGroudList')" >
                            <i class="icon-double-angle-right"></i> 标准商品组列表
                        </a <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-user"></i>
                    <span class="menu-text"> 用户管理  </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li id="left-userList" class="">
                        <a href="javascript:openFrame('','left-userList')" >
                            <i class="icon-double-angle-right"></i> 用户列表
                        </a <b class="arrow"></b>
                    </li>
                    <li id="left-userTerminalList" class="">
                        <a href="javascript:openFrame('','left-userTerminalList')" >
                            <i class="icon-double-angle-right"></i> 用户终端信息
                        </a <b class="arrow"></b>
                    </li>
                    <li id="left-userAgreement" class="">
                        <a href="javascript:openFrame('','left-userAgreement')" >
                            <i class="icon-double-angle-right"></i> 用户协议
                        </a <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-eyedropper"></i>
                    <span class="menu-text"> 订单管理  </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li id="left-orderList" class="">
                        <a href="javascript:openFrame('','left-orderList')" >
                            <i class="icon-double-angle-right"></i> 订单中心
                        </a <b class="arrow"></b>
                    </li>
                    <li id="left-payList" class="">
                        <a href="javascript:openFrame('','left-payList')" >
                            <i class="icon-double-angle-right"></i> 支付方式
                        </a <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-book"></i>
                    <span class="menu-text"> 合同管理 </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <ul class="submenu" >
                    <li id="left-contractList" class="">
                        <a href="javascript:openFrame('','left-contractList')" >
                            <i class="icon-double-angle-right"></i>合同模板管理
                        </a <b  class="arrow"></b>
                    </li>
                    <li id="left-findSignedContract" class="">
                        <a href="javascript:openFrame('','left-findSignedContract')" >
                            <i class="icon-double-angle-right"></i>签订合同管理
                        </a <b  class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-book"></i>
                    <span class="menu-text"> 配置管理 </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <ul class="submenu" >
                    <li id="left-configList" class="">
                        <a href="javascript:openFrame('','left-configList')" >
                            <i class="icon-double-angle-right"></i>首页楼层配置列表
                        </a <b  class="arrow"></b>
                    </li>
                    <li id="left-configCategoryList" class="">
                        <a href="javascript:openFrame('','left-configCategoryList')" >
                            <i class="icon-double-angle-right"></i>首页导航配置类别列表
                        </a <b  class="arrow"></b>
                    </li>
                </ul>
            </li>


    </ul>
    <!-- /.nav-list -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>
